################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpecFlowStart.csproj.user
/bin/
/obj/
